@import "../../../node_modules/bootstrap/less/bootstrap.less";
@import "../../../node_modules/bootswatch/readable/variables.less";
@import "../../../node_modules/bootswatch/readable/bootswatch.less";
@import "../../../node_modules/font-awesome/less/font-awesome.less";

body {
  background-color: #fcfcfc;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

div#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
