@import "../../../node_modules/bootstrap/less/bootstrap.less";
@import "../../../node_modules/bootswatch/readable/variables.less";
@import "../../../node_modules/bootswatch/readable/bootswatch.less";
@import "../../../node_modules/font-awesome/less/font-awesome.less";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #DDDDDD;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: 'hidden';
}

div#root {
  width: 100%;
  height: 100%;
  overflow: 'hidden';
}

.navbar-nav > li > span > button.btn-facebook {
  margin: 12.5px 6px;
  border-radius: 4px;

  &:hover {
    background-color: #425695;
    color: white;
    text-decoration: none;
  }
}

.nav > li.picture-dropdown > a {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
